<!-- すべての投稿データを表示するループ処理 -->

<h1>投稿一覧</h1>
<% @lists.each do |list| %>
<div>
	<%= attachment_image_tag list, :image, :fill, 100, 100, format: 'jpeg' %>
	<div>
	  <span>
		<%= list.body %>
	  </span>
	  <span>
		<%=link_to list.title, todolist_path(list.id) %>
	  </span>
    </div>
</div>
<% end %>